@charset "utf-8";
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile {
  height: 8%;
  border-bottom: 1px solid gainsboro;
  display: flex;
  align-items: center;
}
.profile > span {
  cursor: pointer;
  margin: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile > span:hover {
  color: purple;
}
.chat {
  flex: 1; /* .send에 남은 공간을 모두 할당 */
  overflow-y: auto; /* 채팅창이 넘칠 때 스크롤 생성 */
}
#system {
  font-family: 'Pretendard-Regular';
  font-weight: bold;
  padding-top: 10px;
  margin: auto;
  font-size: 14px;
  text-align: center;
}
#msg {
  margin: auto;
}
.msgLine {
  margin: 15px;
}
.sent-text-message {
  background: purple;
  font-weight: 500;
  font-family: 'Pretendard-Regular';
  padding: 10px 15px;
  font-size: 0.9em;
  letter-spacing: -0.5px;
  border-radius: 5px;
  color: white;
}
.received-text-message {
  background: grey;
  font-family: 'Pretendard-Regular';
  padding: 10px 15px;
  font-size: 0.9em;
  letter-spacing: -0.5px;
  border-radius: 5px;
  color: white;
}
.dateBox {
  font-family: 'Pretendard-Regular';
  margin-top: 5px;
  font-size: 0.8em;
}
.image-wrapper > img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    background-color: white;
}
.uploaded-image {
  cursor: pointer; /* 호버 시에 손가락 모양의 커서 보이도록 설정 */
}
.sent-image-message {
  border-radius: 5px;
}
.received-image-message {
  border-radius: 5px;
}

.send {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  height: 8%;
  background-color: white;
  border-top: 1px solid gainsboro;
  position: sticky; /* 스크롤 시 고정 */
  bottom: 0; /* 하단에 고정 */
  z-index: 1; /* 다른 요소들보다 앞에 표시되도록 */
}
#chatform {
  flex: 1;
  display: flex; /* 내부 요소를 수평으로 배치하기 위해 추가 */
  align-items: center; /* 내부 요소들을 세로 가운데로 정렬 */
}
#chatform input[type="text"] {
  flex: 1;
  border: 1px #F2F2F2 solid;
  background-color: #E6E6E6;
  height: 29.6px;
  overflow: auto;
  margin-right: 5px;
}
#button {
  display: flex; /* 내부 요소를 수평으로 배치하기 위해 추가 */
  align-items: center; /* 내부 요소들을 세로 가운데로 정렬 */
  margin-left: auto;
  padding-left: 7px;
}
#button > label {
  display: flex; /* 내부 요소를 수평으로 배치하기 위해 추가 */
  align-items: center; /* 내부 요소들을 세로 가운데로 정렬 */
  margin: 5px;
  cursor: pointer;
  font-size: 20px;
}
#button > label:hover {
  color: purple;
}
/* 첫 번째 label은 왼쪽 여백 없이 */
#button > label:first-child {
  margin-left: 0; /* 첫 번째 label은 왼쪽 여백 없이 */
}
#button input[type="file"],
#button input[type="submit"] {
  margin-left: 5px; /* 각 버튼 간격 조절을 위한 마진 추가 */
}
#chatform input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
#imageInput {
  display: none;
}